table{
    width: 1200px;
    height: 700px;
    border-collapse: collapse;
}
td, th{
    padding: 10px;
}
th{
    color: #fff;
    height: 150px;
    vertical-align: top;
}
thead tr th:first-child{
    background-color: #7987aa;
    vertical-align: middle;
}
thead tr th:last-child{
    background-color: #162954;
}
thead tr th:nth-child(2){
    background-color: #4f628d;
}
thead tr th:nth-child(3){
    background-color: #2f4173;
}
thead tr th:nth-child(4){
    background-color: #162954;
}

tbody tr:nth-child(odd) td:nth-child(odd){
    background-color: #dbdbdb;
}
tbody tr:nth-child(odd) td:nth-child(even){
    background-color: #e7e7e7;
}

tbody tr:nth-child(even) td:nth-child(odd){
    background-color: #ececec;
}
tbody tr:nth-child(even) td:nth-child(even){
    background-color: #f3f3f3;
}